.Home{
    margin: 0 auto;
}

.Home-banner .carousel-img{
    width: 100%;
}

.Home-content{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    max-width: 1200px;
    padding: 1em;
}
.Home-content > div{
    margin: 6em 0;
}
.Home-content-center{
    text-align: center;
}

.Home-content-header-splitter{
    width: 100%;
}

.Home-content-section{
    display: flex;
    justify-content: center;
}

.Home-content-section-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Home-content-u4 .Home-content-section-col:first-child{
    justify-content: flex-start;
    margin-right: 1em;
}

.Home-content-u4 .Home-content-section-col:last-child{
    justify-content: flex-end;
}


.Home-content-section-col img{
    width: 100%;
}

.conslide{
    width: 100%;
}
/* iphone (portrait and landscape) ----------- */

@media only screen and (max-width: 767px) {
    .Home-content-header-text{
        height: 2.5em;
    }

        
    .Home-content > div{
        margin: 2em 0;
    }
}
